#.vim/bundle
*/local/*
*.elc
.emacs.d/.scratch-log*
.emacs.d/ac-comphist.dat
*zcompdump
zcompdump*
.chpwd-recent-dirs
.vim/.netrwhist
.vim/local/
gvimwinpos

!.emacs.d/local/.gitkeep
!.zsh.d/local/.gitkeep
!.vim/local/backup/.gitkeep
!.vim/local/swap/.gitkeep
!.vim/local/undo/.gitkeep
!.gitkeep
