[submodule ".zsh.d/plugin/auto-fu.zsh"]
	path = .zsh.d/plugin/auto-fu.zsh
	url = git://github.com/hchbaw/auto-fu.zsh.git
[submodule ".zsh.d/plugin/zsh-completions"]
	path = .zsh.d/plugin/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "neobundle.vim"]
	path = neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".vim/bundle/neobundle"]
	path = .vim/bundle/neobundle
	url = git://github.com/Shougo/neobundle.vim.git
[submodule ".zsh.d/plugin/tw-zsh-completion"]
	path = .zsh.d/plugin/tw-zsh-completion
	url = git://github.com/glidenote/tw-zsh-completion.git
[submodule "/home/qurage/dotfiles/.zsh.d/plugin/zsh-syntax-highlighting"]
	path = /home/qurage/dotfiles/.zsh.d/plugin/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "/home/qurage/dotfiles/.zsh.d/plugin/powerline-shell"]
	path = /home/qurage/dotfiles/.zsh.d/plugin/powerline-shell
	url = git://github.com/milkbikis/powerline-shell.git
[submodule "/home/qurage/dotfiles/.vim/bundle/vim-powerline"]
	path = /home/qurage/dotfiles/.vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "/home/qurage/dotfiles/.zsh.d/plugin/z"]
	path = /home/qurage/dotfiles/.zsh.d/plugin/z
	url = git://github.com/rupa/z.git
[submodule "/home/qurage/dotfiles/.zsh.d/plugin/oh-my-zsh"]
	path = /home/qurage/dotfiles/.zsh.d/plugin/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "/home/qurage/dotfiles/.emacs.d/packages/manual-install/emacs-powerline"]
	path = /home/qurage/dotfiles/.emacs.d/packages/manual-install/emacs-powerline
	url = git://github.com/jonathanchu/emacs-powerline.git
[submodule "/home/qurage/dotfiles/.zsh.d/plugin/zaw"]
	path = /home/qurage/dotfiles/.zsh.d/plugin/zaw
	url = git://github.com/zsh-users/zaw.git
