[submodule ".zsh.d/plugin/auto-fu.zsh"]
	path = .zsh.d/plugin/auto-fu.zsh
	url = git://github.com/hchbaw/auto-fu.zsh.git
[submodule ".zsh.d/plugin/zsh-completions"]
	path = .zsh.d/plugin/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "neobundle.vim"]
	path = neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".vim/bundle/neobundle"]
	path = .vim/bundle/neobundle
	url = git://github.com/Shougo/neobundle.vim.git
[submodule ".zsh.d/plugin/tw-zsh-completion"]
	path = .zsh.d/plugin/tw-zsh-completion
	url = git://github.com/glidenote/tw-zsh-completion.git
