#.vim/bundle
*.elc
.emacs.d/.scratch-log*
.emacs.d/ac-comphist.dat
.emacs.d/local/
*zcompdump
zcompdump*
.chpwd-recent-dirs
.zsh.d/local/zsh-history
.zsh.d/local/
.vim/.netrwhist
.vim/local/
gvimwinpos
!.emacs.d/local/.gitkeep
!.zsh.d/local/.gitkeep
!.vim/local/backup/.gitkeep
!.vim/local/swap/.gitkeep
!.vim/local/undo/.gitkeep
!.gitkeep
