local
*.elc
*zcompdump
zcompdump*
.chpwd-recent-dirs
tmux/plugins
!tmux/tpm
vim/.netrwhist
vim/local/
vim/dein/
gvimwinpos

!zsh/local/.gitkeep
!vim/bundle/neobundle.vim
!vim/local/backup/.gitkeep
!vim/local/swap/.gitkeep
!vim/local/undo/.gitkeep
!.gitkeep
